
<%= form_for(@employee, html: {class: "form-horizontal"}) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 col-xs-offset-1 col-xs-3 control-label" %>
    <div class="col-xs-6 col-sm-6">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"></span>
        <%= f.text_field :name, class: "form-control"%>
      </div> 
    </div>
  </div> 
  <div class="form-group">
    <%= f.label :position, class: "col-sm-2 col-xs-offset-1 col-xs-3 control-label" %>
    <div class="col-xs-6 col-sm-6">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"></span>
        <%= f.text_field :position, class: "form-control"%>
      </div> 
    </div>
  </div> 
  <div class="form-group">
    <%= f.label :Rank, class: "col-sm-2 col-xs-offset-1 col-xs-3 control-label" %>
    <div class="col-xs-6 col-sm-6">
      <div class="input-group">
      <%= f.select(:pom) do %>
        <% @pom_mood.each do |c| %>
          <%= content_tag(:option, c.first, class: "fa fa-star", value: c.last) %>
        <% end %>
      <% end %>
      </div> 
    </div>
  </div>
  <div class="form-group">
    <div class="center">
      <%= f.submit class: "btn btn-default" %>
    </div>
  </div>
 <% end %>