<p id="notice"><%= notice %></p>

<h1>Listing Employees</h1>

<div class="container-fluid">

  <div class="row">
    <%= link_to "All employees", employees_path%>
    <% Category.all.each do |cat| %>
      <%= link_to cat.name, employees_path(pom: cat.pom)%>
    <%end%>
  </div>

<% @employees.each do |employee| %>

  <%@list_s = Array.new%>
  <%if not employee.scores.blank?%>
    <%employee.scores.each do |s|%>
      <%@list_s.push(s.average)%>
      <%@kf_sum = @list_s.inject(:+)%>
      <%@kf = @kf_sum/employee.scores.count%>
    <%end%>
  <%else%>
    <%@kf = 0%>
  <%end%> 

  <div class="row pad">
    <div class="col-sm-4">
      <div class="row">
        <%= link_to employee.name, employee%>
      </div>
      <div class="row">
        <%if @kf > 2.5 %>
          <p class="bg-success">KEEP</p>
        <%elsif @kf == 0 %>
          <p>No review</p>
        <%else%>
          <p class="bg-danger">FIRE</p>
        <%end%>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <%= employee.position%>
      </div>

      <div class="row">
        <% @last_time_reviewer_id = employee.scores.last.reviewer_id %>
        <% if @last_time_reviewer_id.nil?%>
          <p>Last review by: Admin</p>
        <%else%>
        <% @reviewer = Reviewer.find(@last_time_reviewer_id)%>
          <p>Last review by: <%= @reviewer.name%></p>
        <%end%>
      </div>

    </div>
    <div class="col-sm-4">

    <% if user_signed_in?%>
      <div class="row">
        <%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %>        
      </div>
    <%end%>

      <div class="row">
        <%= link_to "Review #{employee.name}", employee_score_new_path(employee.id)%>        
      </div>
    </div>
  </div>
<% end %>
</div>