<p id="notice"><%= notice %></p>

<h1>Listing Employees</h1>

<div class="container-fluid">

  <div class="row">
    <%= link_to "All employees", employees_path%>

<%if user_signed_in?%>
    <%= link_to Category.find(1).name, employees_path(pom: 1)%>
<%else%>
  <% if current_reviewer.vl == 0%>
    <%= link_to Category.find(1).name, employees_path(pom: 1)%>
  <%else%>
    <p>no</p>
  <%end%>
<%end%>

<%if user_signed_in?%>
    <%= link_to Category.find(2).name, employees_path(pom: 2)%>
<%else%>
  <% if current_reviewer.l == 0%>
    <%= link_to Category.find(2).name, employees_path(pom: 2)%>
  <%else%>
    <p>no</p>
  <%end%>
<%end%>

<%if user_signed_in?%>
    <%= link_to Category.find(3).name, employees_path(pom: 3)%>
<%else%>
  <% if current_reviewer.m == 0%>
    <%= link_to Category.find(3).name, employees_path(pom: 3)%>
  <%else%>
    <p>no</p>
  <%end%>
<%end%>

<%if user_signed_in?%>
    <%= link_to Category.find(4).name, employees_path(pom: 4)%>
<%else%>
  <% if current_reviewer.h == 0%>
    <%= link_to Category.find(4).name, employees_path(pom: 4)%>
  <%else%>
    <p>no</p>
  <%end%>
<%end%>

<%if user_signed_in?%>
    <%= link_to Category.find(5).name, employees_path(pom: 5)%>
<%else%>
  <% if current_reviewer.vh == 0%>
    <%= link_to Category.find(5).name, employees_path(pom: 5)%>
  <%else%>
    <p>no</p>
  <%end%>
<%end%>

  </div>

<% @employees.each do |employee| %>

  <%@list_s = Array.new%>
  <%if not employee.scores.blank?%>
    <%employee.scores.each do |s|%>
      <%@list_s.push(s.average)%>
      <%@kf_sum = @list_s.inject(:+)%>
      <%@kf = @kf_sum/employee.scores.count%>
    <%end%>
  <%else%>
    <%@kf = 0%>
  <%end%> 


  <div class="row pad">
    <div class="col-sm-4">
      <div class="row">
        <%= link_to employee.name, employee%>
      </div>
      <div class="row">
        <%if @kf > 2.5 %>
          <p class="bg-success">KEEP</p>
        <%elsif @kf == 0 %>
          <p>No review</p>
        <%else%>
          <p class="bg-danger">FIRE</p>
        <%end%>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <%= employee.position%>
      </div>

      <div class="row">
      <% if employee.scores.last.nil?%>
      <%else%>
      <%@last_time_reviewer_id = employee.scores.last.reviewer_id%>      
      <%end%>

        <% if @last_time_reviewer_id.nil?%>
          <p>Last review by: Admin</p>
        <%else%>
        <% @reviewer = Reviewer.find(@last_time_reviewer_id)%>
          <p>Last review by: <%= @reviewer.name%></p>
        <%end%>
      </div>

    </div>
    <div class="col-sm-4">

    <% if user_signed_in?%>
      <div class="row">
        <%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %>        
      </div>
    <%end%>

      <div class="row">
        <%= link_to "Review #{employee.name}", employee_score_new_path(employee.id)%>        
      </div>
    </div>
  </div>
    
<% end %>
</div>