<h1>This is Score_new</h1>

<%= form_for @score, url: employee_score_new_path(@employee.id), html: { method: :post } do |f| %>

  <div class="field">
    <%= f.label :qu1 %><br>
    <%= f.number_field :qu1 %>
  </div>
  <div class="field">
    <%= f.label :qu2 %><br>
    <%= f.number_field :qu2 %>
  </div>
  <div class="field">
    <%= f.label :qu3 %><br>
    <%= f.number_field :qu3 %>
  </div>
  <div class="field">
    <%= f.label :qu4 %><br>
    <%= f.number_field :qu4 %>
  </div>
  <div class="field">
    <%= f.label :qu5 %><br>
    <%= f.number_field :qu5 %>
  </div>
  <div class="field">
    <%= f.label :qu6 %><br>
    <%= f.number_field :qu6 %>
  </div>
  <div class="field">
    <%= f.label :qu7 %><br>
    <%= f.number_field :qu7 %>
  </div>
  <div class="field">
    <%= f.label :qu8 %><br>
    <%= f.number_field :qu8 %>
  </div>
  <div class="field">
    <%= f.label :qu9 %><br>
    <%= f.number_field :qu9 %>
  </div>
  <div class="field">
    <%= f.label :qu10 %><br>
    <%= f.number_field :qu10 %>
  </div>
  <div class="field">
    <%= f.label :qu11 %><br>
    <%= f.number_field :qu11 %>
  </div>
  <div class="field">
    <%= f.label :qu12 %><br>
    <%= f.number_field :qu12 %>
  </div>
  <div class="field">
    <%= f.label :qu13 %><br>
    <%= f.number_field :qu13 %>
  </div>
  <div class="field">
    <%= f.label :qu14 %><br>
    <%= f.number_field :qu14 %>
  </div>
  <div class="field">
    <%= f.label :qu15 %><br>
    <%= f.number_field :qu15 %>
  </div>
  <div class="field">
    <%= f.label :qu16 %><br>
    <%= f.number_field :qu16 %>
  </div>
  <div class="field">
    <%= f.label :qu17 %><br>
    <%= f.number_field :qu17 %>
  </div>
  <div class="field">
    <%= f.label :qu18 %><br>
    <%= f.number_field :qu18 %>
  </div>
  <div class="field">
    <%= f.label :qu19 %><br>
    <%= f.number_field :qu19 %>
  </div>
  <div class="field">
    <%= f.label :qu20 %><br>
    <%= f.number_field :qu20 %>
  </div>
  <div class="field">
    <%= f.label :qu21 %><br>
    <%= f.number_field :qu21 %>
  </div>
  <div class="field">
    <%= f.label :qu22 %><br>
    <%= f.number_field :qu22 %>
  </div>
  <div class="field">
    <%= f.label :qu23 %><br>
    <%= f.number_field :qu23 %>
  </div>
  <div class="field">
    <%= f.label :qu24 %><br>
    <%= f.number_field :qu24 %>
  </div>  
  <div class="field">
    <%= f.label :qu25 %><br>
    <%= f.number_field :qu25 %>
  </div>
  <div class="field">
    <%= f.label :qu26 %><br>
    <%= f.number_field :qu26 %>
  </div>
  <div class="field">
    <%= f.label :qu27 %><br>
    <%= f.number_field :qu27 %>
  </div>
  <div class="field">
    <%= f.label :qu28 %><br>
    <%= f.number_field :qu28 %>
  </div>   
  <div class="field">
    <%= f.label :qu29 %><br>
    <%= f.number_field :qu29 %>
  </div>     
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>