<div class="row center pad-bot pad-top">
  <%= link_to employee_path(Employee.find(params["employee_id"])) do%>
    <h3 class="p-score"><%= Employee.find(params["employee_id"]).name%></h3>
  <%end%>
  <i class="fa fa-check-square-o fa-2x"></i>
  <small id="inherit">Hover over evaluated skill to get an explanation</small>
</div>

<%= form_for @score, url: employee_score_new_path(@employee.id), html: { method: :post } do |f| %>

<div class="row pad-bot">
  <div class="col-xs-4 center">
    <div class="field">
      <%= f.label :Predictable, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Tooltip on top'%>
      <%= f.select(:qu1) do %>
        <% @mood.each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    </div>

    <div class="field">
      <%= f.label :Ponctuality, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Tooltip on top' %>
      <%= f.select(:qu2) do %>
        <% @mood.each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    </div>

    <div class="field">
      <%= f.label :Personal, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Tooltip on top' %>
      <%= f.select(:qu3) do %>
        <% @mood.each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    </div>

    <div class="field">
      <%= f.label :Salary, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Pay check in avance' %>
      <%= f.select(:qu4) do %>
        <% @mood.each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    </div>

    <div class="field">
      <%= f.label :Rules, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Respect rules' %>
      <%= f.select(:qu5) do %>
        <% @mood.each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    </div>

    <div class="field">
      <%= f.label :Perform, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Get the work done' %>
      <%= f.select(:qu6) do %>
        <% @mood.each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    </div>

    <div class="field">
      <%= f.label :Speed, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Time efficient' %>
      <%= f.select(:qu7) do %>
        <% @mood.each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    </div>

    <div class="field">
      <%= f.label :Supervision, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Do the police' %>
      <%= f.select(:qu8) do %>
        <% @mood.each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    </div>

    <div class="field">
      <%= f.label :Trustworthy, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Tooltip on top' %>
      <%= f.select(:qu9) do %>
        <% @mood.each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    </div>

    <div class="field">
      <%= f.label :Improvement, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Reach its limit?' %>
      <%= f.select(:qu10) do %>
        <% @mood.each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    </div>    
  </div>
  <div class="col-xs-4 center">
    <div class="field">
      <%= f.label :Rush, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Rush hours' %>
      <%= f.select(:qu11) do %>
        <% @mood.each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    </div>

    <div class="field">
      <%= f.label :Focused, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Tooltip on top' %>
      <%= f.select(:qu12) do %>
        <% @mood.each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    </div>

    <div class="field">
      <%= f.label :Consistency, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Tooltip on top' %>
      <%= f.select(:qu13) do %>
        <% @mood.each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    </div>

    <div class="field">
      <%= f.label :Interpersonal, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Relation with others' %>
      <%= f.select(:qu14) do %>
        <% @mood.each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    </div>

    <div class="field">
      <%= f.label :Positive, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Positive attitude' %>
      <%= f.select(:qu15) do %>
        <% @mood.each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    </div>

    <div class="field">
      <%= f.label :Critics, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Open to critics' %>
      <%= f.select(:qu16) do %>
        <% @mood.each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    </div>

    <div class="field">
      <%= f.label :Confident, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'To over confident' %>
      <%= f.select(:qu17) do %>
        <% @mood.each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    </div>

    <div class="field">
      <%= f.label :Plus, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Do the extra mile' %>
      <%= f.select(:qu18) do %>
        <% @mood.each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    </div>

    <div class="field">
      <%= f.label :Attitude, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Attitude and behaviour' %>
      <%= f.select(:qu19) do %>
        <% @mood.each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    </div>

    <div class="field">
      <%= f.label :Team, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Team work' %>
      <%= f.select(:qu20) do %>
        <% @mood.each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    </div>
  </div>
  <div class="col-xs-4 center">
    <div class="field">
      <%= f.label :Blend_in, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Tooltip on top' %>
      <%= f.select(:qu21) do %>
        <% @mood.each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    </div>

    <div class="field">
      <%= f.label :Hours, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Counting hours' %>
      <%= f.select(:qu22) do %>
        <% @mood.each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    </div>

    <div class="field">
      <%= f.label :Pressure, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Pressure on pay check or schedule' %>
      <%= f.select(:qu23) do %>
        <% @mood.each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    </div>

    <div class="field">
      <%= f.label :Legal, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Legal pressure' %>
      <%= f.select(:qu24) do %>
        <% @mood.each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    </div>  

    <div class="field">
      <%= f.label :Customer, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Customer drive' %>
      <%= f.select(:qu25) do %>
        <% @mood.each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    </div>

    <div class="field">
      <%= f.label :Changes, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'React toward Operational changes' %>
      <%= f.select(:qu26) do %>
        <% @mood.each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    </div>

    <div class="field">
      <%= f.label :Situations, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Unpredictable situations' %>
      <%= f.select(:qu27) do %>
        <% @mood.each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    </div>

    <div class="field">
      <%= f.label :Flexibility, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Tooltip on top' %>
      <%= f.select(:qu28) do %>
        <% @mood.each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    </div>   

    <div class="field">
      <%= f.label :Company, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Good_to_work_with' %>
      <%= f.select(:qu29) do %>
        <% @mood.each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    </div>  
  </div>
</div>

<div class="row center pad-bot">
  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>
</div>

<% end %>