<div class="container-fluid">
	<div class="row center">
		<h3><%= @employee.name%></h3>
		<h5><%= @employee.position%></h5>
		<p><%= @employee.pom%></p>

	</div>
	<div class="row">
		<div class="col-sm-4">
			<h5>Latest scores:</h5>
			<% @employee.scores.each do |r|%>
				<%= r.created_at.strftime("%A %B %d")%>
				<%if r.average > 2.5 %>
				<p class="bg-success"><%= r.average%>/5</p>
				<%else%>
				<p class="bg-danger"><%= r.average%>/5</p>
				<%end%>
			<%end%>
		</div>
		<div class="col-sm-4">
			<h5>Strengths:</h5>
			<p><% @list_qa.each do |k, v|%></p>
					<%case k%>
					<%when 1%>
						<% @i = @list_qa[k].to_i%>
						<% @u = @last_qu_hash[k].to_i%>
						<%if @u > @i %>
							<p>Predictable <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Predictable <i class="fa fa-arrow-down red"></i></p>
						<%end%>					
					<%when 2%>
						<% @i = @list_qa[k].to_i%>
						<% @u = @last_qu_hash[k].to_i%>
						<%if @u > @i %>
							<p>Ponctuality <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Ponctuality <i class="fa fa-arrow-down red"></i></p>
						<%end%>	
					<%when 3%>
						<% @i = @list_qa[k].to_i%>
						<% @u = @last_qu_hash[k].to_i%>
						<%if @u > @i %>
							<p>Personal life <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Personal life <i class="fa fa-arrow-down red"></i></p>
						<%end%>	
					<%when 4%>
						<% @i = @list_qa[k].to_i%>
						<% @u = @last_qu_hash[k].to_i%>
						<%if @u > @i %>
							<p>Pay check in advance <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Pay check in advance <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 5%>
						<% @i = @list_qa[k].to_i%>
						<% @u = @last_qu_hash[k].to_i%>
						<%if @u > @i %>
							<p>Respecting rules <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Respecting rules <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 6%>
						<% @i = @list_qa[k].to_i%>
						<% @u = @last_qu_hash[k].to_i%>
						<%if @u > @i %>
							<p>Get the work done <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Get the work done <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 7%>
						<% @i = @list_qa[k].to_i%>
						<% @u = @last_qu_hash[k].to_i%>
						<%if @u > @i %>
							<p>Time efficient <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Time efficient <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 8%>
						<% @i = @list_qa[k].to_i%>
						<% @u = @last_qu_hash[k].to_i%>
						<%if @u > @i %>
							<p>Do the police <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Do the police <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 9%>
						<% @i = @list_qa[k].to_i%>
						<% @u = @last_qu_hash[k].to_i%>
						<%if @u > @i %>
							<p>Trustworthy <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Trustworthy <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 10%>
						<% @i = @list_qa[k].to_i%>
						<% @u = @last_qu_hash[k].to_i%>
						<%if @u > @i %>
							<p>Room for improvment <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Room for improvment <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 11%>
						<% @i = @list_qa[k].to_i%>
						<% @u = @last_qu_hash[k].to_i%>
						<%if @u > @i %>
							<p>Rush hours <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Rush hours <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 12%>
						<% @i = @list_qa[k].to_i%>
						<% @u = @last_qu_hash[k].to_i%>
						<%if @u > @i %>
							<p>Focused <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Focused <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 13%>
						<% @i = @list_qa[k].to_i%>
						<% @u = @last_qu_hash[k].to_i%>
						<%if @u > @i %>
							<p>Consistency <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Consistency <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 14%>
						<% @i = @list_qa[k].to_i%>
						<% @u = @last_qu_hash[k].to_i%>
						<%if @u > @i %>
							<p>Relation with others <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Relation with others <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 15%>
						<% @i = @list_qa[k].to_i%>
						<% @u = @last_qu_hash[k].to_i%>
						<%if @u > @i %>
							<p>Positive attitude <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Positive attitude <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 16%>
						<% @i = @list_qa[k].to_i%>
						<% @u = @last_qu_hash[k].to_i%>
						<%if @u > @i %>
							<p>Open to critics <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Open to critics <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 17%>
						<% @i = @list_qa[k].to_i%>
						<% @u = @last_qu_hash[k].to_i%>
						<%if @u > @i %>
							<p>To sure of him self <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>To sure of him self <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 18%>
						<% @i = @list_qa[k].to_i%>
						<% @u = @last_qu_hash[k].to_i%>
						<%if @u > @i %>
							<p>Extra mile <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Extra mile <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 19%>
						<% @i = @list_qa[k].to_i%>
						<% @u = @last_qu_hash[k].to_i%>
						<%if @u > @i %>
							<p>Attitude and behaviour <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Attitude and behaviour <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 20%>
						<% @i = @list_qa[k].to_i%>
						<% @u = @last_qu_hash[k].to_i%>
						<%if @u > @i %>
							<p>Team work <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Team work <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 21%>
						<% @i = @list_qa[k].to_i%>
						<% @u = @last_qu_hash[k].to_i%>
						<%if @u > @i %>
							<p>Blend in <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Blend in <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 22%>
						<% @i = @list_qa[k].to_i%>
						<% @u = @last_qu_hash[k].to_i%>
						<%if @u > @i %>
							<p>Counting hours <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Counting hours <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 23%>
						<% @i = @list_qa[k].to_i%>
						<% @u = @last_qu_hash[k].to_i%>
						<%if @u > @i %>
							<p>Pressure on pay check or schedule <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Pressure on pay check or schedule <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 24%>
						<% @i = @list_qa[k].to_i%>
						<% @u = @last_qu_hash[k].to_i%>
						<%if @u > @i %>
							<p>Legal pressure <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Legal pressure <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 25%>
						<% @i = @list_qa[k].to_i%>
						<% @u = @last_qu_hash[k].to_i%>
						<%if @u > @i %>
							<p>Customer Drive <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Customer Drive <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 26%>
						<% @i = @list_qa[k].to_i%>
						<% @u = @last_qu_hash[k].to_i%>
						<%if @u > @i %>
							<p>Operational change <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Operational change <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 27%>
						<% @i = @list_qa[k].to_i%>
						<% @u = @last_qu_hash[k].to_i%>
						<%if @u > @i %>
							<p>Unpredictable situation <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Unpredictable situation <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 28%>
						<% @i = @list_qa[k].to_i%>
						<% @u = @last_qu_hash[k].to_i%>
						<%if @u > @i %>
							<p>Flexibility <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Flexibility <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 29%>
						<% @i = @list_qa[k].to_i%>
						<% @u = @last_qu_hash[k].to_i%>
						<%if @u > @i %>
							<p>Good to work with <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Good to work with <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%else%>
						<p>Error</p>
					<%end%>
				<%end%>
		</div>
		<div class="col-sm-4">
			<h5>Weaknesses:</h5>
			<p><% @list_pb.each do |k ,v|%></p>
					<%case k%>
					<%when 1%>
						<% @ii = @list_pb[k].to_i%>
						<% @uu = @last_qu_hash[k].to_i%>
						<%if @uu > @ii %>
							<p>Predictable <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Predictable <i class="fa fa-arrow-down red"></i></p>
						<%end%>					
					<%when 2%>
						<% @ii = @list_pb[k].to_i%>
						<% @uu = @last_qu_hash[k].to_i%>
						<%if @uu > @ii %>
							<p>Ponctuality <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Ponctuality <i class="fa fa-arrow-down red"></i></p>
						<%end%>	
					<%when 3%>
						<% @ii = @list_pb[k].to_i%>
						<% @uu = @last_qu_hash[k].to_i%>
						<%if @uu > @ii %>
							<p>Personal life <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Personal life <i class="fa fa-arrow-down red"></i></p>
						<%end%>	
					<%when 4%>
						<% @ii = @list_pb[k].to_i%>
						<% @uu = @last_qu_hash[k].to_i%>
						<%if @uu > @ii %>
							<p>Pay check in advance <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Pay check in advance <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 5%>
						<% @ii = @list_pb[k].to_i%>
						<% @uu = @last_qu_hash[k].to_i%>
						<%if @uu > @ii %>
							<p>Respecting rules <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Respecting rules <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 6%>
						<% @ii = @list_pb[k].to_i%>
						<% @uu = @last_qu_hash[k].to_i%>
						<%if @uu > @ii %>
							<p>Get the work done <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Get the work done <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 7%>
						<% @ii = @list_pb[k].to_i%>
						<% @uu = @last_qu_hash[k].to_i%>
						<%if @uu > @ii %>
							<p>Time efficient <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Time efficient <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 8%>
						<% @ii = @list_pb[k].to_i%>
						<% @uu = @last_qu_hash[k].to_i%>
						<%if @uu > @ii %>
							<p>Do the police <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Do the police <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 9%>
						<% @ii = @list_pb[k].to_i%>
						<% @uu = @last_qu_hash[k].to_i%>
						<%if @uu > @ii %>
							<p>Trustworthy <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Trustworthy <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 10%>
						<% @ii = @list_pb[k].to_i%>
						<% @uu = @last_qu_hash[k].to_i%>
						<%if @uu > @ii %>
							<p>Room for improvment <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Room for improvment <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 11%>
						<% @ii = @list_pb[k].to_i%>
						<% @uu = @last_qu_hash[k].to_i%>
						<%if @uu > @ii %>
							<p>Rush hours <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Rush hours <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 12%>
						<% @ii = @list_pb[k].to_i%>
						<% @uu = @last_qu_hash[k].to_i%>
						<%if @uu > @ii %>
							<p>Focused <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Focused <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 13%>
						<% @ii = @list_pb[k].to_i%>
						<% @uu = @last_qu_hash[k].to_i%>
						<%if @uu > @ii %>
							<p>Consistency <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Consistency <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 14%>
						<% @ii = @list_pb[k].to_i%>
						<% @uu = @last_qu_hash[k].to_i%>
						<%if @uu > @ii %>
							<p>Relation with others <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Relation with others <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 15%>
						<% @ii = @list_pb[k].to_i%>
						<% @uu = @last_qu_hash[k].to_i%>
						<%if @uu > @ii %>
							<p>Positive attitude <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Positive attitude <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 16%>
						<% @ii = @list_pb[k].to_i%>
						<% @uu = @last_qu_hash[k].to_i%>
						<%if @uu > @ii %>
							<p>Open to critics <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Open to critics <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 17%>
						<% @ii = @list_pb[k].to_i%>
						<% @uu = @last_qu_hash[k].to_i%>
						<%if @uu > @ii %>
							<p>To sure of him self <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>To sure of him self <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 18%>
						<% @ii = @list_pb[k].to_i%>
						<% @uu = @last_qu_hash[k].to_i%>
						<%if @uu > @ii %>
							<p>Extra mile <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Extra mile <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 19%>
						<% @ii = @list_pb[k].to_i%>
						<% @uu = @last_qu_hash[k].to_i%>
						<%if @uu > @ii %>
							<p>Attitude and behaviour <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Attitude and behaviour <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 20%>
						<% @ii = @list_pb[k].to_i%>
						<% @uu = @last_qu_hash[k].to_i%>
						<%if @uu > @ii %>
							<p>Team work <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Team work <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 21%>
						<% @ii = @list_pb[k].to_i%>
						<% @uu = @last_qu_hash[k].to_i%>
						<%if @uu > @ii %>
							<p>Blend in <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Blend in <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 22%>
						<% @ii = @list_pb[k].to_i%>
						<% @uu = @last_qu_hash[k].to_i%>
						<%if @uu > @ii %>
							<p>Counting hours <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Counting hours <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 23%>
						<% @ii = @list_pb[k].to_i%>
						<% @uu = @last_qu_hash[k].to_i%>
						<%if @uu > @ii %>
							<p>Pressure on pay check or schedule <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Pressure on pay check or schedule <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 24%>
						<% @ii = @list_pb[k].to_i%>
						<% @uu = @last_qu_hash[k].to_i%>
						<%if @uu > @ii %>
							<p>Legal pressure <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Legal pressure <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 25%>
						<% @ii = @list_pb[k].to_i%>
						<% @uu = @last_qu_hash[k].to_i%>
						<%if @uu > @ii %>
							<p>Customer Drive <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Customer Drive <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 26%>
						<% @ii = @list_pb[k].to_i%>
						<% @uu = @last_qu_hash[k].to_i%>
						<%if @uu > @ii %>
							<p>Operational change <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Operational change <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 27%>
						<% @ii = @list_pb[k].to_i%>
						<% @uu = @last_qu_hash[k].to_i%>
						<%if @uu > @ii %>
							<p>Unpredictable situation <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Unpredictable situation <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 28%>
						<% @ii = @list_pb[k].to_i%>
						<% @uu = @last_qu_hash[k].to_i%>
						<%if @uu > @ii %>
							<p>Flexibility <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Flexibility <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%when 29%>
						<% @ii = @list_pb[k].to_i%>
						<% @uu = @last_qu_hash[k].to_i%>
						<%if @uu > @ii %>
							<p>Good to work with <i class="fa fa-arrow-up green"></i></p>
						<%else%>
							<p>Good to work with <i class="fa fa-arrow-down red"></i></p>
						<%end%>
					<%else%>
						<p>Error</p>
					<%end%>
				<%end%>
		</div>
	</div>
</div>

</br>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
