<div class="container-fluid">
	<div class="row center pad-bot">
		<div class="pad-bot2">
			<h3><%= @employee.name%></h3>
			<strong class="inherit"><%= @employee.position%></strong>
		</div>
		<div class="letter-spacing pad-bot2">
			<%= link_to employees_path do%>
				<i class="fa fa-arrow-left fa-2x"></i>
			<%end%>
			<%= link_to employee_score_new_path(@employee.id) do%>
				<i class="fa fa-check-square-o fa-2x"></i>
			<%end%>
			<%= link_to '', :onclick => 'window.print();return false;' do%>
				<i class="fa fa-print fa-2x"></i>
			<%end%>
			<%if user_signed_in?%>
				<%= link_to @employee, method: :delete, data: { confirm: 'Are you sure?' } do %>
		        	<i class="fa fa-trash fa-2x"></i>
		        <%end%>

		        <%= link_to edit_employee_path(@employee) do%>
		        	<i class="fa fa-pencil-square-o fa-2x"></i>
		        <%end%>	
	        <%end%>
        </div>
        <div class="inherit" id="pad-bot-print">
	        <%case @employee.pom%>
	          <%when 1%>
	          	<i class="fa fa-star"></i>
	          <%when 2%>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
			  <%when 3%>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
			  <%when 4%>
			  	<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
			  <%when 5%>
			  	<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
			  <%else%>
			<%end%>
		</div>
	</div>
	<% if @last_qu_hash.nil?%>
	<div class="row center pad-top pad-show">
		<mark>NO REVIEWS</mark>		
		<%= link_to "Review #{@employee.name} now", employee_score_new_path(@employee.id), class: "inherit"%>
	</div>
	<%else%>
		<div class="row">
			<div class="col-sm-4 col-xs-4" id="print-score">
				<h5 class="text-info">Latest 5 scores:</h5>
				<% @employee.scores.order("created_at DESC").limit(5).each do |r|%>
				<div class="pad-bot2">
					<div class="border-score">
						<div class="row center">
							<%= r.created_at.strftime("%A %B %d")%>	
						</div>
						<%if r.average > 2.5 %>
							<div class="row">
								<div class="col-xs-12 center">
									<p class="bg-success"><%= r.average%>/5</p>
								</div>
							</div>
						<%else%>
							<div class="row">
								<div class="col-xs-12 center">
									<p class="bg-danger"><%= r.average%>/5</p>
								</div>
							</div>					
						<%end%>
						<% if r.reviewer_id.nil?%>
							<div class="row">
								<div class="col-xs-12 center">
									<p>Reviewed by Admin</p>
								</div>
							</div>
						<%else%>
							<div class="row">
								<div class="col-xs-12 center">
									<p>Reviewed by: <%= Reviewer.find(r.reviewer_id).name%></p>
								</div>
							</div>						
						<%end%>
						<%if user_signed_in?%>
							<div class="row">
								<div class="col-xs-12 center">
									<%= link_to "score_destroy/#{r.id}", method: :delete do%>
										<i class="fa fa-trash fa-2x"></i>
									<%end%>
								</div>
							</div>
						<%end%>
					</div>
				</div>
				<%end%>
			</div>
			<div class="col-sm-offset-1 col-sm-3 col-xs-4 responsive-text" id="print-margin1">
				<h5 class="text-success" id="fontsize-print1">Strengths:</h5>
				<%= render "case_for_qa"%>
			</div>
			<div class="col-sm-4 col-xs-4 responsive-text" id="print-margin2">
				<h5 class="text-danger" id="fontsize-print2">Weaknesses:</h5>
				<%= render "case_for_pb"%>
			</div>
		</div>
	<%end%>
</div>

<%= render "modals"%>