<div class="container-fluid">
	<div class="row center">
		<h3><%= @employee.name%></h3>
		<h5><%= @employee.position%></h5>
		<p><%= @employee.pom%></p>

	</div>
	<% if @last_qu_hash.nil?%>
		<p>NO REVIEWS</p>
		<%= link_to "Review #{@employee.name}", employee_score_new_path(@employee.id)%>
	<%else%>
		<div class="row">
			<div class="col-sm-4">
				<h5>Latest scores:</h5>
				<% @employee.scores.each do |r|%>
					<%= r.created_at.strftime("%A %B %d")%>
					<%if r.average > 2.5 %>
					<p class="bg-success"><%= r.average%>/5</p>
					<%else%>
					<p class="bg-danger"><%= r.average%>/5</p>
					<% if r.reviewer_id.nil?%>
						<p>Reviewed by Admin</p>
					<%else%>
						<p>Reviewed by: <%= Reviewer.find(r.reviewer_id).name%></p>	
					<%end%>
					<%end%>
				<%end%>
			</div>
			<div class="col-sm-4">
				<h5>Strengths:</h5>
				<%= render "case_for_qa"%>
			</div>
			<div class="col-sm-4">
				<h5>Weaknesses:</h5>
				<%= render "case_for_pb"%>
			</div>
		</div>
	<%end%>
</div>

</br>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>

<%= render "modals"%>