<div class="row">
  <div class="col-xs-12 center pad-top pad-bot">
    <h3 class="p-score">Edit <%= current_user.email %></h3>
    <%= link_to employees_path do%>
      <i class="fa fa-arrow-circle-o-left fa-2x"></i>
    <%end%> 
    <%if current_user.plan_id == nil%>
      <p>Your plan is: free</p>
    <%else%>
      <p>Your plan is: <%= current_user.plan_id%></p>
    <%end%>
  </div>  
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal pad-edit", method: :put}) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group">
    <%= f.label :email, class: "col-sm-2 col-xs-offset-1 col-xs-3 control-label" %>
    <div class="col-xs-6 col-sm-6">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">@</span>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div> 
    </div>
  </div> 
  <div class="form-group">
    <%= f.label :password, class: "col-sm-2 col-xs-offset-1 col-xs-3 control-label" %>
    <div class="col-xs-6 col-sm-6">
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %><i>(leave blank if you don't want to change it)</i>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, class: "col-sm-2 col-xs-offset-1 col-xs-3 control-label" %>
    <div class="col-xs-6 col-sm-6">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :current_password, class: "col-sm-2 col-xs-offset-1 col-xs-3 control-label" %><i>(we need your current password to confirm your changes)</i>
    <div class="col-xs-6 col-sm-6">
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
    </div>
  </div>  
  <div class="form-group">
    <div class="center">
      <%= f.submit "Update", class: "btn btn-default" %>
      <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>

      <%if current_user.plan_id == nil%>
        <%= link_to "Upgrade to basic", new_basic_path, class: "btn btn-info"%>
      <%elsif current_user.plan_id == "basic"%>
        <%= link_to "Upgrade to pro", upgrade_path, method: :post, data: { confirm: "You will be charged for the pro plan" }, class: "btn btn-info"%>
        <%= link_to "Downgrade", downgrade_path, method: :post, data: { confirm: "Extra employees and reviewers created will be deleted" }, class: "btn btn-info" %>        
      <%elsif current_user.plan_id == "pro"%>
        <%= link_to "Downgrade", downgrade_path, method: :post, data: { confirm: "Extra employees and reviewers created will be deleted" }, class: "btn btn-info" %>
      <%else%>
        <%= link_to "Downgrade", downgrade_path, method: :post, data: { confirm: "Extra employees and reviewers created will be deleted" }, class: "btn btn-info" %>
      <%end%>
      
    </div>
  </div>
 <% end %>