<div class="container-fluid">
	<div class="row center">
		<h1>Restool App</h1>
	</div>
	<div class="row center">
		<h4>Keep valuable people and fire dead-weight.</h4>
	</div>
	<div class="row pad-top">
		<p class="text-home">Sign up by becoming a manager and start reviewing your people or create reviewer to review all of them or just some for you. Restool app povide you with a simple tool to improve your work environment, spirit and efficiency.</p>
	</div>		
</div>

<div class="container-fluid">
	<div class="row center pad-top">
		<%= link_to 'Become a Manager', new_user_registration_path, class: "btn btn-primary btn-lg" %>
	</div>
	<div class="row pad-top">
		<%= render "navbar"%>
	</div>
</div>

<div class="container-fluid red" id="concept">
	<div class="row">
<p class="text-concept">Managing your people can be pleasant, Restool app povide you with a simple tool for you to review your people easily to improve your work environment, spirit and efficiency... By siging up as a manger you can create your employees and start reviewing them in order to give proper feedback, to see their evolution over time regarding specific attitude or skills. As a manager you can create reviewers in order to delegate reviewing to your operationnal managers. Know when to keep valuable people and when to fire dead-weight.</p>		
	</div>
</div>

<div class="container-fluid green" id="win-win">
	<div class="row">
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>		
	</div>
</div>

<div class="container-fluid blue" id="functioning">
	<div class="row">
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>		
	</div>
</div>

<div class="container-fluid black" id="pricing">
	<div class="row">
		<div class="col-md-4">
			<div class="border-price">
				<section>
					<div class="container-img pad-bot">
						<i class="fa fa-smile-o fa-5x"></i>
					</div>
				</section>
				<section class="pad-bot">
					<%= link_to "Free", new_user_registration_path, class: "btn btn-success"%>
				</section>
				<section>
					<ul class="plan-features">
						<li class="price">0 Euro</li>
						<li>1 Reviewers</li>
						<li>5 employees</li>
						<li>Forever free</li>
					</ul>
				</section>
			</div>
		</div>
		<div class="col-md-4">
			<div class="border-price">
				<section>
					<div class="container-img pad-bot">
						<i class="fa fa-smile-o fa-5x"></i>
					</div>
				</section>
				<section class="pad-bot">
					<%= link_to "Basic", new_basic_path, class: "btn btn-success"%>
				</section>
				<section>
					<ul class="plan-features">
						<li class="price">29 Euro</li>
						<li>5 Reviewers</li>
						<li>25 employees</li>
						<li>Support</li>
					</ul>
				</section>
			</div>
		</div>
		<div class="col-md-4">
			<div class="border-price">
				<section>
					<div class="container-img pad-bot">
						<i class="fa fa-smile-o fa-5x"></i>
					</div>
				</section>
				<section class="pad-bot">
					<%= link_to "Pro", new_pro_path, class: "btn btn-success"%>
				</section>
				<section>
					<ul class="plan-features">
						<li class="price">49 Euro</li>
						<li>10 Reviewers</li>
						<li>50 employees</li>
						<li>Support</li>
					</ul>
				</section>
			</div>
		</div>
	</div>
</div>








