<div class="container-fluid bg">
	<% if not user_signed_in? and not reviewer_signed_in? %>
		<div class="row">
			<div class="col-xs-4">
				<p><%= notice %><%= alert %></p>
			</div>
			<div class="col-xs-8 right">
				<%= link_to 'Manager', new_user_session_path, class: "btn btn-default" %>
				<%= link_to 'Reviewer', new_reviewer_session_path, class: "btn btn-default" %>
			</div>
		</div>
	<%end%>
	<div class="row center text-main">
		<h1>Restool App</h1>
	</div>
	<div class="row center">
		<h4>Keep valuable people and fire dead-weight.</h4>
	</div>
<%if user_signed_in?%>
	<div class="row center pad">
		<%= link_to "Dashboard", employees_path, class: "btn btn-primary btn-lg"%>
	</div>
<%else%>
	<div class="row pad-top">
		<p class="text-home">Sign up by becoming a manager and start reviewing your people or create reviewer to review all of them or just some for you. Restool app povide you with a simple tool to improve your work environment, spirit and efficiency.</p>
	</div>		

	<div class="row center pad">
		<%= link_to 'Become a Manager', new_user_registration_path, class: "btn btn-primary btn-lg" %>
	</div>

	<div class="row">
		<%= render "navbar"%>
	</div>
<div class="row blue" id="concept">
	<h3 class="center title_sub">Concept</h3>
	<div class="row center pad">
		<div class="col-sm-4">
			<i class="fa fa-check-square-o fa-5x"></i>
			Review
		</div>
		<div class="col-sm-4">
			<i class="fa fa-area-chart fa-5x"></i>
			Keep track
		</div>
		<div class="col-sm-4">
			<i class="fa fa-filter fa-5x"></i>
			Filter	
		</div>
	</div>
	<div class="row center pad">
		<div class="col-sm-4">
			<i class="fa fa-flag fa-5x"></i>		
			Notice when change happen
		</div>
		<div class="col-sm-4">
			<i class="fa fa-comments fa-5x"></i>
			Feedback		
		</div>
		<div class="col-sm-4">
			<i class="fa fa-users fa-5x"></i>	
			Create reviewers		
		</div>					
	</div>
</div>

<div class="row redi white" id="functioning">
	<h3 class="center title_sub">Functioning</h3>
	<div class="row position_gears">
		<ul class="ul_style">
			<li><i class="fa fa-cogs fa-3x"></i> Sign up for a free account</li>
			<li><i class="fa fa-cogs fa-3x"></i> Create your first employees</li>
			<li><i class="fa fa-cogs fa-3x"></i> Review them over time</li>
			<li><i class="fa fa-cogs fa-3x"></i> Keep the good people</li>
			<li><i class="fa fa-cogs fa-3x"></i> Create reviewers with specific rights</li>
			<li><i class="fa fa-cogs fa-3x"></i> Empower your managers</li>
		</ul>
	</div>
</div>
<%end%>
</div>

<div class="container-fluid" id="pricing">
	<h3 class="center title_sub">Pricing</h3>
	<% if user_signed_in? and current_user.plan_id == nil%>
		<div class="row">
			<div class="col-md-6">
				<div class="border-price">
					<section>
						<div class="container-img pad-bot">
							<i class="fa fa-user fa-5x black"></i>
							<i class="fa fa-user fa-5x black"></i>
						</div>
					</section>
					<section class="pad-bot">
						<%= link_to "Basic", new_basic_path, class: "btn btn-success"%>
					</section>
					<section>
						<ul class="plan-features">
							<li class="price">29 Euro</li>
							<li>5 Reviewers</li>
							<li>25 employees</li>
							<li>Support</li>
						</ul>
					</section>
				</div>
			</div>
			<div class="col-md-6">
				<div class="border-price">
					<section>
						<div class="container-img pad-bot">
							<i class="fa fa-users fa-5x black"></i>
						</div>
					</section>
					<section class="pad-bot">
						<%= link_to "Pro", new_pro_path, class: "btn btn-success"%>
					</section>
					<section>
						<ul class="plan-features">
							<li class="price">49 Euro</li>
							<li>10 Reviewers</li>
							<li>50 employees</li>
							<li>Support</li>
						</ul>
					</section>
				</div>
			</div>
		</div>
	<%elsif user_signed_in? and current_user.plan_id == "basic"%>
		<div class="row">
			<div class="col-md-offset-6 col-md-6">
				<div class="border-price">
					<section>
						<div class="container-img pad-bot">
							<i class="fa fa-users fa-5x black"></i>
						</div>
					</section>
					<section class="pad-bot">
						<%= link_to "Pro", new_pro_path, class: "btn btn-success"%>
					</section>
					<section>
						<ul class="plan-features">
							<li class="price">49 Euro</li>
							<li>10 Reviewers</li>
							<li>50 employees</li>
							<li>Support</li>
						</ul>
					</section>
				</div>
			</div>
		</div>	
	<%elsif user_signed_in? and current_user.plan_id == "pro"%>
	Upgrade more than a pro plan
	<%else%>
		<div class="row">
			<div class="col-md-4">
				<div class="border-price">
					<section>
						<div class="container-img pad-bot">
							<i class="fa fa-user fa-5x black"></i>
						</div>
					</section>
					<section class="pad-bot">
						<%= link_to "Free", new_user_registration_path, class: "btn btn-success"%>
					</section>
					<section>
						<ul class="plan-features">
							<li class="price">0 Euro</li>
							<li>1 Reviewers</li>
							<li>5 employees</li>
							<li>Forever free</li>
						</ul>
					</section>
				</div>
			</div>
			<div class="col-md-4">
				<div class="border-price">
					<section>
						<div class="container-img pad-bot">
							<i class="fa fa-user fa-5x black"></i>
							<i class="fa fa-user fa-5x black"></i>
						</div>
					</section>
					<section class="pad-bot">
						<%= link_to "Basic", new_basic_path, class: "btn btn-success"%>
					</section>
					<section>
						<ul class="plan-features">
							<li class="price">29 Euro</li>
							<li>5 Reviewers</li>
							<li>25 employees</li>
							<li>Support</li>
						</ul>
					</section>
				</div>
			</div>
			<div class="col-md-4">
				<div class="border-price">
					<section>
						<div class="container-img pad-bot">
							<i class="fa fa-users fa-5x black"></i>
						</div>
					</section>
					<section class="pad-bot">
						<%= link_to "Pro", new_pro_path, class: "btn btn-success"%>
					</section>
					<section>
						<ul class="plan-features">
							<li class="price">49 Euro</li>
							<li>10 Reviewers</li>
							<li>50 employees</li>
							<li>Support</li>
						</ul>
					</section>
				</div>
			</div>
		</div>
	<%end%>	
</div>








