<% if not user_signed_in? and not reviewer_signed_in? %>
	<div class="container-fluid bg">
		<div class="row">
			<div class="col-xs-4 red">
				<p><%= notice %></p>
			</div>
			<div class="col-xs-8 right">
				<%= link_to 'Manager', new_user_session_path, class: "btn btn-default" %>
				<%= link_to 'Reviewer', new_reviewer_session_path, class: "btn btn-default" %>
			</div>
		</div>

		<div class="row">
			<div class="video_box">
			    <div class="embed-responsive embed-responsive-16by9">
			      <iframe src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen="">
			      </iframe>
			    </div>
			</div>			
		</div>	

		<div class="row center pad-button">
			<%= link_to 'Become a Manager', new_user_registration_path, class: "btn btn-main" %>
		</div>

		<div class="row">
			<%= render "navbar"%>
		</div>

		<div class="row blue" id="concept">
			<h3 class="center title_sub">Concept</h3>
			<div class="row center pad">
				<div class="col-xs-4">
					<i class="fa fa-check-square-o fa-5x click" data-toggle="modal" data-target=".bs-example-modal-lg"></i>
					<p>Review</p>
				</div>
				<div class="col-xs-4">
					<i class="fa fa-area-chart fa-5x click" data-toggle="modal" data-target=".1"></i>
					<p>Keep track</p>
				</div>
				<div class="col-xs-4">
					<i class="fa fa-filter fa-5x click" data-toggle="modal" data-target=".2"></i>
					<p>Filter</p>	
				</div>
			</div>
			<div class="row center pad">
				<div class="col-xs-4">
					<i class="fa fa-flag fa-5x click" data-toggle="modal" data-target=".3"></i>		
					<p>Notice</p>
				</div>
				<div class="col-xs-4">
					<i class="fa fa-comments fa-5x click" data-toggle="modal" data-target=".4"></i>
					<p>Feedback</p>		
				</div>
				<div class="col-xs-4">
					<i class="fa fa-users fa-5x click" data-toggle="modal" data-target=".5"></i>	
					<p>Delegate</p>		
				</div>					
			</div>

<!-- 			<div class="row pad-top">
				<div class="row center pad">
					<div class="col-xs-6">
						<i class="fa fa-users fa-5x"></i>
						<p>Empower</p>
					</div>
					<div class="col-xs-6">
						<i class="fa fa-eye fa-5x"></i>
						<p>Monitor</p>
					</div>
				</div>
				<div class="row center pad">
					<div class="col-xs-6">
						<i class="fa fa-line-chart fa-5x"></i>
						<p>Feedback</p>
					</div>
					<div class="col-xs-6">
						<i class="fa fa-coffee fa-5x"></i>					
						<p>Peace of mind</p>		
					</div>					
				</div>
			</div> -->
		</div>

		<div class="row redi" id="functioning">
			<h3 class="center title_sub">Get started !</h3>
			<div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 pad-bot2">
				<i class="fa fa-arrow-circle-right fa-3x pad-right"></i> 
				<p class="p-work"><%= link_to "Sign up for a free account", new_user_registration_path, class: "text-deco-none"%></p>
			</div>
			<div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 pad-bot2">
				<i class="fa fa-arrow-circle-right fa-3x pad-right"></i> 
				<p class="p-work">Add people</p>		
			</div>
			<div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 pad-bot2">
				<i class="fa fa-arrow-circle-right fa-3x pad-right"></i> 
				<p class="p-work">Empower your key people (Add reviewers)</p>
			</div>
			<div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 pad-bot2">
				<i class="fa fa-arrow-circle-right fa-3x pad-right"></i> 
				<p class="p-work">Provide reviewers with log-in details</p>		
			</div>
			<div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 pad-bot2">
				<i class="fa fa-arrow-circle-right fa-3x pad-right"></i> 
				<p class="p-work">Let reviewers monitor your people</p>
			</div>
			<div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 pad-bot2">
				<i class="fa fa-arrow-circle-right fa-3x pad-right"></i> 
				<p class="p-work">Encourage reports based feedbacks</p>
			</div>
			<div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 pad-bot2">
				<i class="fa fa-arrow-circle-right fa-3x pad-right"></i> 
				<p class="p-work">Notice satisfactory and unsatisfactory people</p>
			</div>	
			<div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 pad-bot2">
				<i class="fa fa-arrow-circle-right fa-3x pad-right"></i> 
				<p class="p-work">Control how your team is doing over time</p>
			</div>			
		</div>
		
		<div class="row" id="pricing"> 
			<div class="center title_sub">
				<h3>Pricing</h3>
				<small>(Monthly subscription)</small>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<div class="border-price-plan">
						<section>
							<div class="container-img pad-bot">
								<i class="fa fa-user fa-5x black"></i>
							</div>
						</section>
						<section class="pad-bot">
							<%= link_to "Free", new_user_registration_path, class: "btn btn-success"%>
						</section>
						<section>
							<ul class="plan-features">
								<li class="price">0 Euro</li>
								<li>1 Reviewer</li>
								<li>5 employees</li>
								<li>Forever free</li>
							</ul>
						</section>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="border-price-plan">
						<section>
							<div class="container-img pad-bot">
								<i class="fa fa-user fa-5x black"></i>
								<i class="fa fa-user fa-5x black"></i>
							</div>
						</section>
						<section class="pad-bot">
							<%= link_to "Basic", new_basic_path, class: "btn btn-success"%>
						</section>
						<section>
							<ul class="plan-features">
								<li class="price">29 Euro</li>
								<li>5 Reviewers</li>
								<li>25 employees</li>
								<li>Support</li>
							</ul>
						</section>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="border-price-plan">
						<section>
							<div class="container-img pad-bot">
								<i class="fa fa-users fa-5x black"></i>
							</div>
						</section>
						<section class="pad-bot">
							<%= link_to "Pro", new_pro_path, class: "btn btn-success"%>
						</section>
						<section>
							<ul class="plan-features">
								<li class="price">49 Euro</li>
								<li>10 Reviewers</li>
								<li>50 employees</li>
								<li>Support</li>
							</ul>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
<%end%>

<%if user_signed_in? or reviewer_signed_in?%>
	<%if user_signed_in?%>
		<div class="container-fluid dotted-line">
			<div class="center title_sub">
				<h3>Quick view</h3>
			</div>
        	<%c = current_user%>
			<div class="row center border-price-nil">
				<div class="col-xs-6">
					<section>
						<ul class="plan-features">
							<li class="price">Your People</li>
							<li>People added: <%= c.employees.count%></li>
							<%case current_user.plan_id%> 
							<%when nil%>
								<li>You can still add: <%= 5 - c.employees.count%></li>
							<%when "basic"%>
								<li>You can still add: <%= 25 - c.employees.count%></li>
							<%when "pro"%>
								<li>You can still add: <%= 50 - c.employees.count %></li>
							<%else%>
							    <li>Custom plan availale soon !</li>
							<%end%>
							<li>Exceptional People: </li>
							<li>Problematic People: </li>								
						</ul>
					</section>
				</div>
				<div class="col-xs-6">
					<section>
						<ul class="plan-features">
							<li class="price">Your Reviewers</li>
							<li>Reviewer added: <%= c.reviewers.count%></li>
							<%case current_user.plan_id%> 
							<%when nil%>
								<li>You can still add: <%= 1- c.reviewers.count%></li>
							<%when "basic"%>
								<li>You can still add: <%= 5 - c.reviewers.count%></li>
							<%when "pro"%>
								<li>You can still add: <%= 10 - c.reviewers.count%></li>
							<%else%>
								<li>Custom plan availale soon !</li>
							<%end%>
							<li>Latest review by: </li>
							<li>When: </li>
						</ul>
					</section>
				</div>
			</div>
		</div>
		<div class="container-fluid" id="pricing">
			<div class="center title_sub">
				<h3>Upgrade</h3>
				<small>(Monthly subscription)</small>
			</div>
			<% if current_user.plan_id == nil%>
				<div class="row">
					<div class="col-xs-6">
						<div class="border-price-nil">
							<section>
								<div class="container-img pad-bot">
									<i class="fa fa-user fa-5x black"></i>
									<i class="fa fa-user fa-5x black"></i>
								</div>
							</section>
							<section class="pad-bot">
								<%= link_to "Basic", new_basic_path, class: "btn btn-success"%>
							</section>
							<section>
								<ul class="plan-features">
									<li class="price">29 Euro</li>
									<li>5 Reviewers</li>
									<li>25 employees</li>
									<li>Support</li>
								</ul>
							</section>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="border-price-nil">
							<section>
								<div class="container-img pad-bot">
									<i class="fa fa-users fa-5x black"></i>
								</div>
							</section>
							<section class="pad-bot">
								<%= link_to "Pro", new_pro_path, class: "btn btn-success"%>
							</section>
							<section>
								<ul class="plan-features">
									<li class="price">49 Euro</li>
									<li>10 Reviewers</li>
									<li>50 employees</li>
									<li>Support</li>
								</ul>
							</section>
						</div>
					</div>
				</div>
			<% elsif current_user.plan_id == "basic"%>
				<div class="row">
					<div class="col-xs-12">
						<div class="border-price-basic">
							<section>
								<div class="container-img pad-bot">
									<i class="fa fa-users fa-5x black"></i>
								</div>
							</section>
							<section class="pad-bot">
								<%= link_to "Pro", new_pro_path, class: "btn btn-success"%>
							</section>
							<section>
								<ul class="plan-features">
									<li class="price">49 Euro</li>
									<li>10 Reviewers</li>
									<li>50 employees</li>
									<li>Support</li>
								</ul>
							</section>
						</div>
					</div>
				</div>
			<% else%>
				<p class="text-success">Tailor-made upgrade available soon !</p>
			<% end %>
		</div>
	<%else%>
		<div class="container-fluid">
			<div class="row pad-top">
				<h3 class="center title_sub">Why are you a reviewer ?</h3>
				<div class="row center pad">
					<div class="col-xs-6">
						<i class="fa fa-smile-o fa-5x"></i>
						<p>You are trusted</p>
					</div>
					<div class="col-xs-6">
							<i class="fa fa-thumbs-up fa-5x"></i>
							<p>You are awesome</p>
					</div>
				</div>
				<div class="row center pad">
					<div class="col-xs-6">
							<i class="fa fa-check-square fa-5x"></i>
							<p>You are aware</p>
					</div>
					<div class="col-xs-6">
							<i class="fa fa-comments fa-5x"></i>
							<p>You are communicative</p>		
					</div>					
				</div>
			</div>
		</div>
	<%end%>
<%end%>
				
<%= render "modals"%>







