<h2 class="center pad">Connect as a Reviewer</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal pad-edit"}) do |f| %>
  <div class="form-group">
    <%= f.label :email, class: "col-sm-2 col-xs-offset-1 col-xs-3 control-label" %>
    <div class="col-xs-6 col-sm-6">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">@</span>
        <%= f.email_field :email, autofocus: true, class: "form-control", :placeholder => "user@exemple.com" %>
      </div> 
    </div>
  </div> 
  <div class="form-group">
    <%= f.label :password, class: "col-sm-2 col-xs-offset-1 col-xs-3 control-label" %>
    <div class="col-xs-6 col-sm-6">
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="center">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  </div>
  <div class="form-group">
    <div class="center">
      <%= f.submit "Connect", class: "btn btn-default" %>
      </br>
      <%= render "reviewers/shared/links" %>
      <%= link_to "back", root_path%>
    </div>
  </div>
 <% end %> 