<!DOCTYPE html>
<html>
<head>
  <title>RestoTool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<% if user_signed_in? -%>
			<!-- NAV BAR -->
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<!--         <span class="sr-only">Toggle navigation</span> -->
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <div class="navbar-brand" style="color: white;"><%= link_to 'Restool', root_path %></div>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
					  <li role="presentation"><%= link_to current_user.email, edit_user_registration_path %></a></li>
					  <li role="presentation">
					  	<%= link_to destroy_user_session_path, :method => :delete do%>
					  		<i class="fa fa-power-off"></i>
					  	<%end%>
					  </li>
				      <li role="presentation">
				        <%= link_to new_employee_path do%>
				          <i class="fa fa-plus"></i>
				          Employee
				        <%end%>
			      	  </li>
				      <li role="presentation">
				        <%= link_to new_reviewer_registration_path do%>
				          <i class="fa fa-plus"></i>
				          Reviewer
				        <%end%>
				      </li>
				      <li role="presentation">
				        <%= link_to employees_path do%>
				          <i class="fa fa-database"></i>
				        <%end%>
				      </li>
				      <li role="presentation">
				      	<%if current_user.plan_id == nil%>
				        <%= link_to "#{alert}", new_basic_path, {style: "color: red;"} %>
				        <%elsif current_user.plan_id == "basic"%>
				        <%= link_to "#{alert}", new_pro_path, {style: "color: red;"} %>
				        <%else%>
				        <%= link_to "#{alert}", {style: "color: red;"} %>
				        <%end%>
				      </li>				      
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
		<% elsif reviewer_signed_in?%>
			<div><%= link_to 'Account', edit_reviewer_registration_path %></div>
			<div><%= link_to 'Sign out', destroy_reviewer_session_path, :method => :delete %></div>
			<div>Your company: <%= current_reviewer.user.email%></div>
		<% end %>
	</div>
</div>

<%= yield %>

</body>
</html>
