<!DOCTYPE html>
<html>
<head>
  <title>RestoTool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? -%>
<ul>
	<li><%= link_to 'Account', edit_user_registration_path %></li>
	<li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
	<li>Current User: <%= current_user.email%></li>
	<li><%= link_to 'New Employee', new_employee_path %></li>

	<%if current_user.reviewers.blank? %>
		<li>No reviewers ! <%= link_to "Add one", new_reviewer_registration_path %></li>
	<%else%>
		<h4>User's reviewers: </h4>
		<p><%= alert %></p>
		<% current_user.reviewers.each do |r| %>
			<li><%= r.name%></li>
			<li>Last sign in: <%= r.last_sign_in_at%></li>
			<li>Last employee reviewed is: ' FINISH CODE '<%# r.scores.last.employee%></li>
		<%end%>
			<li><%= link_to 'Add reviewer', new_reviewer_registration_path%></li>
	<%end%>
</ul>

<% elsif reviewer_signed_in?%>
	<li><%= link_to 'Account', edit_reviewer_registration_path %></li>
	<li><%= link_to 'Sign out', destroy_reviewer_session_path, :method => :delete %></li>
	<li>Your company: <%= current_reviewer.user.email%></li>
<% end %>
 
<%= yield %>

</body>
</html>
