<!DOCTYPE html>
<html>
<head>
  <title>RestoTool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p><%= link_to "ROOT", root_path%></p>
<% if user_signed_in? -%>
<ul>
	<li><%= link_to 'Account', edit_user_registration_path %></li>
	<li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
	<li><%= link_to 'Add reviewer', new_reviewer_path%></li>
</ul>
<% else -%>
<ul>
	<li><%= link_to 'Sign up', new_user_registration_path %></li>
	<li><%= link_to 'Sign in', new_user_session_path %></li>
</ul>
<% end -%>
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
